pre {
    background-color: unset;
    border: none;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
footer .container .text-muted {
    margin: 20px 0;
}

.sidebar {
    padding: 15px;
    margin: 0 -15px 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar p:last-child,
.sidebar ul:last-child,
.sidebar ol:last-child {
    margin-bottom: 0;
}